<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><i class="fa fa-files-o"></i><span class="break"></span>Edit gem information</h2>
    </div>
    <div class="panel-body">

      <%= form_for @jem do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :email, 'Your Email Address' %></br>
        <%= f.text_field :email, class: "form-control"  %></br>

        <%= f.label :author, 'Author of Asset Library' %></br>
        <%= f.text_field :author, class: "form-control"  %></br>

        <%= f.label :description, 'Subtitle of Your Gem' %></br>
        <%= f.text_field :description, class: "form-control"  %></br>

        <%= f.label :summary, 'Short Summary of Gem' %></br>
        <%= f.text_field :summary, class: "form-control"  %></br>

        <%= f.label :github, 'Github Repository of Asset Library' %></br>
        <%= f.text_field :github, class: "form-control"  %></br>

        <%= f.submit 'Update Gem', :class => 'btn btn-primary full-width-button' %>

      <% end %>
    </div>
  </div>
</div>