
<div class="row">
  <div class="col-md-12 index-title">
    <h1 style="display: inline;">Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic users">
        <div class="boxchart"><%= image_tag 'user.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @users_count %></span>  
      <span class="title">Users Total</span>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic primary">
        <div class="boxchart"><%= image_tag 'ruby.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @jems.size %></span>  
      <span class="title">Gemified Gems</span>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic activity">
        <div class="boxchart"><%= image_tag 'activity.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @activities_count %></span>  
      <span class="title">Activities</span>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic files">
        <div class="boxchart"><%= image_tag 'files.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @scripts_count %></span>  
      <span class="title">Files Uploaded</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default ">
      <div class="sub-title no-gems-padding">
        <h2 class="text-center">This is a public list of gems!</h2></br>
        <p class="text-center">Checkout what other people are gemifying on Gemify-JS :)</p>
        <div class="centered">
          <%= link_to user_omniauth_authorize_path(:github), class: "btn btn-danger btn-lg"  do %>
            <i class="fa fa-sign-in"></i>
            Sign in with Github and create your gem
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default ">
      <div class="panel-heading">
        <h2><i class="fa fa-files-o"></i><span class="break"></span>Public Gem list</h2>
      </div>
        <div class="panel-body">
          <table id="jems-table" class="table datatable table-striped bootstrap-datatable">
            <thead>
              <tr>
                <th>GEM NAME</th>
                <th class="text-center">AUTHOR</th> 
                <th class="text-center">RUBYGEM</th> 
                <th class="text-center">UPDATE</th>
              </tr>
            </thead>
            <tbody>
              <% @jems.each do |jem| %>
                <tr>
                  <td><i class="fa fa-play arrow"></i> <%= link_to jem.name, jem_path(jem), class: "gem-link" %></td>
                  <td class="text-center"><%= jem.author %></td>
                  <% if jem.rubygem_link == nil %>
                    <td class="text-center">NA</td>
                  <% else %>
                    <td class="text-center"><%= jem.rubygem_link %></td>
                  <% end %>
                  <td class="text-center"><%= jem.updated_at.strftime('%F') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>
